# Local project folders not for repo
airpods_battery_Show/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
